# Project exclude paths
/node_modules/

# Yarn
yarn-error.log
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Compilation
/dist

# editor config
/.vscode/
/.idea/

# test
/test/

# data temp
/data/
/pgdata/

# logs
/logs/

# git
/.git/

/config.yaml
/docker-compose.yaml
/Dockerfile
